In [10]:
import matplotlib.pyplot as plt
from IPython.display import clear_output
%matplotlib inline
import scripts.read_image_data as rid
import pickle

In [5]:
ds = rid.read_image_data(image_dir='area1/2014/images/', 
                         mask_dir='area1/2014/masks/', 
                         table_dir='area1/2014/tables/LC8_SR.csv')

In [6]:
ds_new = rid.read_image_data(image_dir='area1/2015/images/', 
                             mask_dir='area1/2015/masks/', 
                             table_dir='area1/2015/tables/LC8_SR.csv')

In [7]:
train, to_predict = rid.generate_interpolated_training_set(ds, ds_new, label_img_dir='labels/labels.png')

/home/ubuntu/anaconda3/lib/python3.5/site-packages/pandas/tools/merge.py:205: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [8]:
train.head()

,x,y,"(1409098536577, 0)","(1409098536577, 1)","(1409098536577, 2)","(1396051746370, 0)","(1396051746370, 1)","(1396051746370, 2)","(1419552586307, 0)","(1419552586307, 1)",...,"(1404951319228, 0)","(1404951319228, 1)","(1404951319228, 2)","(1405728552573, 0)","(1405728552573, 1)","(1405728552573, 2)","(1403568908414, 0)","(1403568908414, 1)","(1403568908414, 2)",label
0,0,0,5143.424218,530.809178,746.098145,3683.0,300.0,520.0,2500.376913,1160.233820,...,5317.222064,352.653802,679.980505,4677.809913,680.488332,763.650098,3879.824404,297.802890,531.351733,3
1,0,1,5143.424218,530.809178,746.098145,3683.0,300.0,520.0,2565.214060,1302.679068,...,5644.018700,371.994828,724.998409,4677.809913,680.488332,763.650098,4059.255023,308.422254,556.069216,3
2,0,2,4976.037107,517.691136,769.753608,3438.0,349.0,552.0,2565.808824,1271.820020,...,5327.003581,407.321928,772.321132,4624.998050,601.550466,735.624810,3787.157337,349.183092,581.111702,3
3,0,3,4611.802366,488.568970,704.951958,3089.0,429.0,564.0,2530.192160,1271.311211,...,5024.397124,405.322326,718.998409,4352.911062,545.612817,686.424897,3502.056609,414.535695,590.914593,3
4,0,4,4375.623913,459.270413,650.226495,2897.0,473.0,564.0,2438.469781,1197.822161,...,4678.366091,395.991645,656.663749,4149.398743,502.662741,636.087421,3253.297943,451.211996,578.281213,3

In [9]:
to_predict.head()

,x,y,"(1440634536577, 0)","(1440634536577, 1)","(1440634536577, 2)","(1427587746370, 0)","(1427587746370, 1)","(1427587746370, 2)","(1451088586307, 0)","(1451088586307, 1)",...,"(1453076154238, 2)","(1443399349500, 0)","(1443399349500, 1)","(1443399349500, 2)","(1441411768125, 0)","(1441411768125, 1)","(1441411768125, 2)","(1435104908414, 0)","(1435104908414, 1)","(1435104908414, 2)"
0,0,0,3958.965348,872.415637,821.994135,2904.0,795.0,748.0,2296.0,1105.0,...,609.0,5117.656932,643.471520,757.997945,4284.691420,808.055915,804.003819,5470.0,308.0,574.0
1,0,1,4273.988354,1117.133079,909.200074,2904.0,795.0,748.0,2314.0,1417.0,...,609.0,5222.664271,725.043745,787.066500,4540.675783,1006.910721,874.866443,5470.0,308.0,574.0
2,0,2,4250.132338,887.646689,829.343232,3073.0,819.0,804.0,2239.0,1389.0,...,944.0,5079.378745,567.215061,732.447592,4483.246291,797.568417,802.104374,5711.0,307.0,697.0
3,0,3,4186.307299,873.067366,817.355789,3071.0,842.0,809.0,2239.0,1389.0,...,987.0,4926.770260,532.355255,703.785085,4394.462856,777.287937,785.429312,5518.0,288.0,663.0
4,0,4,3993.581885,797.412705,746.162405,2824.0,855.0,776.0,2150.0,1299.0,...,823.0,4656.528334,536.470493,674.054022,4179.946355,724.057825,725.891627,5152.0,292.0,619.0

In [13]:
pickle.dump(train, open("models/area1/train.pickle", 'wb'))

In [14]:
pickle.dump(to_predict, open("models/area1/to_predict.pickle", 'wb'))